<nav>
    <a href="/auth" class="logo">M<span>ood</span></a>
    <ul>
        <li><a href="/auth">calendar</a></li>
        <li><a href="/auth/statistics">statistics</a></li>
        <li><a href="/auth/settings">settings</a></li>
    </ul>
</nav>
