<section class="footer">
    <div class="footer-content">
        <a href="/" class="logo">M<span>ood</span></a>
        <p>all rights reserved | shelep olha</p>
        <div class="footer-icons">
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="#"><i class='bx bxl-linkedin-square'></i></a>
            <a href="#"><i class='bx bxl-paypal'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
        </div>
    </div>
    <div class="footer-content">
        <h4>know more</h4>
        <li><a href="#">0 800 505 201 - Гаряча лінія МОЗ</a></li>
        <li><a href="#">0 800 60 20 19 - Контакт-центр МОЗ</a></li>
        <li><a href="#">0–800–501–701 - Всеукраїнський телефон довіри</a></li>
    </div>
    <div class="footer-content">
        <h4>get help</h4>
        <li><a href="https://mindlyspace.com/">mindly space</a></li>
        <li><a href="https://www.rozmova.me/">rozmova</a></li>
        <li><a href="https://www.rozmova.me/tests">tests</a></li>
    </div>
</section>