<nav>
        <a href="/" class="logo">M<span>ood</span></a>
        <ul>
            <li><a href="/signup">sign up</a></li>
            <li><a href="/login">log in</a></li>
            <li><a href="/">calendar</a></li>
        </ul>
</nav>
