:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,
  body {

      height: 100%; 
      justify-content: center;
      align-items: center;
      font-family: var(--font-family);
      background: linear-gradient(to right, #9796f0, #fbc7d4);
      overflow:scroll;
  }

  /* CALENDAR */
  .contianer {
    width: max-content;
    height: max-content;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
  .calendar {
    height: 610px;
    width: max-content;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
  }
  .calendar {
    box-shadow: var(--shadow);
  }
  .calendar-header {
    background: #9796f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color:rgb(104, 104, 104);
  }
  .calendar-week-days div:hover {
  color:black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }
  .calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: var(--bg-body);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
  }
  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
  }
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: -1rem;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
  }
  .time-formate {
    font-size: 1.5rem;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }


  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  .hidden {
    display: none;
  }
  
  .mood-selector-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .mood-selector {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .mood-icon {
    margin-top: 60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s, border 0.3s;
  }
  
  .mood-icon:hover {
    opacity: 1;
  }
  
  .mood-icon.selected {
    opacity: 1;
  }
  
  .btn {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(100, 100, 111, 0.2);
    cursor: pointer;
    font-size: 14px;
    color: var(--light-text);
    font-weight: 600;
  }

  /* SIGN UP FORM */

.wrapper{
    justify-content: center;
    align-items: center;
    width: 420px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
   
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(100, 100, 111, 0.2);
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: var(--light-body);
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(100, 100, 111, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: var(--light-text);
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0px 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

/* HEADER */

nav{
    background-color: var(--light-main);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0;
    box-shadow: 0 0 10px rgba(100, 100, 111, 0.2);
}
nav a{
    padding-left: 1.5rem;
    font-size: 400;
}
.logo{
    font-weight: bold;
    font-size: 800;
    text-decoration: none;
    width: 180px;
    cursor:pointer;
    color: var(--light-text);
}
.logo span{
    font-weight: bold;
    font-size: 800;
    color: var(--light-btn);
    text-decoration: none;
}
.logo:hover{
    text-decoration: underline;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right:1.5rem;  
}
nav ul li{
    display: inline-block;
    margin: .3rem .9rem;
}
nav ul li a{
    line-height: .7rem;;
    text-decoration: none;
    color: var(--light-text);
    letter-spacing: .1px;
}
nav ul li a:hover{
    text-decoration: underline;
}
/* FOOTER */
section{
    padding: 80px 13% 70px;
    margin-top: 20px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: var(--light-main);
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-content h4{
    color: var(--light-text);
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
    list-style: none;
}
.footer-content li a {
    display: block;
    color: var(--light-text);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}
.footer-content p{
    color:var(--light-text);
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.footer-icons a{
    display: inline-block;
    font-size: 22px;
    color:#9796f0;
    margin-right: 17px;
    transition: all .40s ease;
}
.footer-icons a:hover{
    color: #9796f090;
    transform: translateY(-5px);
}
/* STATISTICS */
.help-heading  {
  padding: 1.6rem .8rem;
  background-color: white;
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
.help-links {
  margin-top: 1rem;
  color: var(--light-btn);
  padding: 1.6rem 0;
  background-color: white;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.help-links a {
  display: block;
  color: var(--light-text);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all .40s ease;
}

.help-links a:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

.chart-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.bar-chart-container {
  width: 100%;
  max-width: 600px;
  margin: 3rem auto 3rem;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.bar-chart-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 300px;
  background-color: #fff;
}

.bar {
  cursor: pointer;
  width: 14%; 
  text-align: center;
  color: var(--light-text);
  position: relative;
  transition: height 0.3s ease;
  padding: 1.2rem 0.2rem;
}
.bar:hover{
  transform: translateY(2px);
}

.bar p {
  padding: .3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

.sad-bar { background-color: #4741b373; }   
.angry-bar { background-color: #fbc7d4; } 
.depressed-bar { background-color: #9796f0a9; } 
.neutural-bar { background-color: #69b7b78f; } 
.happy-bar { background-color: #36a3eb84; }  
.exited-bar { background-color: #ffcf5673; }  

/* MY MOOD */
.date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* Space between squares */
}

.date {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #fff;
  box-sizing: border-box;
}

.mood-icon {
  width: 40px;
  height: 40px;
}

.sad-bar { background-color: #4741b373; }
.angry-bar { background-color: #fbc7d4; }
.depressed-bar { background-color: #9796f0a9; }
.neutural-bar { background-color: #69b7b78f; }
.happy-bar { background-color: #36a3eb84; }
.exited-bar { background-color: #ffcf5673; }

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 5px;
  font-size: 16px;
}

.delete-btn {
  right: 5px;
}

.change-btn {
  left: 5px;
}


/* RESPONSIVE */

@media (max-width:991px){
  .graphBox{
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
}
@media (max-width: 768px) {
  .bar-chart-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .bar {
    width: 80%;
    margin: 10px 0;
  }

  .stats-heading {
    font-size: 20px;
  }

  .help-heading {
    font-size: 16px;
  }

  .help-links a {
    font-size: 14px;
  }
}